* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ff4c68;
}
h1 {
  font-family: "Figtree";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: white;
    transition: ease-in-out;
}
@keyframes pulse {
  0% {
    filter: drop-shadow(0px 0px 5px #f72444);
  }
  50% {
    filter: drop-shadow(0px 0px 5px #ed7789);
  }
  100% {
    filter: drop-shadow(0px 0px 5px white);
  }
}
